/* Fonts de texto */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,400;0,500;1,400&display=swap');

/* Encurtador de codigos */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

*{
    margin: 0;
    padding: 0;
}

/* Cabeçalho */

header{
    width: 100%;
    height: 100vh; /* vh serve para fazer a imagem ocupar o tamanho inteiro do monitor */
    overflow: hidden; /* desabilita a possibilidade do cabeçalho ultrapassar a tela */
    position: relative;
}

/* Background principal */

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1c1c1c;
}

.img-wrapper img{ /* para a imagem ocupar o mesmo espaço do img-wrapper */
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz com o que a imagem não seja espremida quando em monitores menores */
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom { /* para dar efeito de zoom no background */
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/* Banner Principal */

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 200; /* diminui o peso da font */
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem; /* diminui o espaçamento das letras */
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    
}

.banner p {
    font-family: "Josefin Slab", serif;
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button{
    font-family: "Muli", serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover{
    opacity: 0.8;
    color: black;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

